* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(10, 25, 47); 
    font-family: 'Anton', sans-serif;
    
   }
  nav {
    display: flex;
    flex-direction: row; /* default */
    justify-content: flex-start; /* default */
    height: 50px;
    background-color: rgb(10, 25, 47);
    -webkit-box-shadow: 0 8px 10px -6px black;
          -moz-box-shadow: 0 8px 10px -6px black;
               box-shadow: 0 8px 10px -6px black;
   
  }
  nav > div:last-child {
    margin-left: auto;
    
 
  }
 
 
 .navbar{
   padding-top:5px;
   text-decoration:underline;
   color:#64ffda; 
   margin-top:10px;
 
   
 }
 .img{
  margin-bottom: 12px;
  
 }
 
 .home{
   padding-left:40px;
   padding-right:20px;
   font-size:  54px;
 }
 .home:hover{
   color: white;
 }
 
 .about{
   padding-right: 20px;
   font-size: 27px;
 }
 
 .about:hover{
   color:white;
 }
 #projects{
   padding-right: 80px;
   font-size: 60px;
   padding-left:170px;
   padding-top:150px;
 }
 .project:hover{
   color:white;
 }
 .logo{
  padding-top: -30px;
  padding-bottom: 110px;
 }
 .resume{
   padding-right: 10px;
   font-size:24px;
 }
 
 /* 3d cube start */
 .container {
   margin-left:30px;
   margin-top:10px;
   
 }
 .cube { 
   position: relative; 
   width: 5em; 
   height: 5em; 
   transform-style: preserve-3d; 
   transform: rotateY(30deg) rotateX(5deg); 
   
 } 
 .face {
   border:2px white solid;
   position: absolute; width: 100%; height: 100%; 
   color:black;
   border-color:#64ffda;
   background-color:#64ffda;
  font-family: 'Modak', cursive;
 }
 .face:nth-child(1) { 
   transform: rotateY(0deg) translateZ(2.5em); 
 } 
 .face:nth-child(2) { 
   transform: rotateY( 90deg) translateZ(2.5em); 
 }
 .face:nth-child(3) { 
   transform: rotateY(180deg) translateZ(2.5em); 
 }
 .face:nth-child(4) { 
   transform: rotateY(270deg) translateZ(2.5em); 
 }
 .cube--ani { animation: rot 12s linear infinite; } 
 @keyframes rot { 
   to { 
     transform: rotateY(-330deg) rotateX(370deg); 
   } 
 }
 /* 3d cube end */
  
 img{
     border: 5px solid #ddd;
     border-radius: 4px;
     width: 350px;
     justify-content:right;
     border-color: #64ffda;
       -webkit-box-shadow: 0 8px 100px -6px black;
          -moz-box-shadow: 0 8px 100px -6px black;
               box-shadow: 0 8px 100px -6px black;
     margin-left: 40px;   
   }
 
 img:hover{
   border-color:white; 
 }
 .wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto);
 }
 .one {
   grid-column: 1 / 3;
   grid-row: 1;
   padding-left:100px;
   padding-right:220px;
   padding-top:50px;
 }
 .two { 
   grid-column: 2 / 4;
   grid-row: 1 / 3;
   padding-bottom:100px;
   padding-top:200px;
 }
 .three {
   grid-column: 1;
   grid-row: 2 / 5;padding-top: 200px;
 
   text-align:center;
   padding-left:140px;
 }
 .four {
   grid-column: 3;
   grid-row: 3;
   padding-right: 100px;
 }
 .five {
   grid-column: 2;
   grid-row: 4;
   padding-left:15px;
 }
 .six {
   grid-column: 3;
   grid-row: 4;
 }
 
 p{
   text-align:left;
   padding-top:150px;
   color:#8892b0;
   font-size:24px;
 /*   padding-bottom:200px; */
   margin-right:300px;
 }
 g{
   text-align:left;
   padding-top:200px;
   color:#8892b0;
   font-size:24px;
 /*   padding-bottom:200px; */
   margin-right:300px;
 }
 
 h1{
   font-size:34px;
   text-decoration-style:bold;
   color:white;
   padding-left: 194px;
   color:#64ffda;
   font-size:60px;
 }
 h1:hover {
   background-color: rgb(210, 209, 214);
 }
 h2{
   padding-top:20px;
   color:#8892b0;
   font-size:24px;
   padding-left: 250px;
   padding-right:140px;
 }
 .helloP{
    font-size:34px;
   
 }
 h3{
  color:#64ffda;
   
 }
 
 .pugs{
   padding-bottom: -190px;
   
 }
 
 #bottomspinner{
   padding-left: 130px;
 }
 
 #resumes{
     width:900px;
     text-align:center;
     margin-top: 150px;
     margin-left: 302px;
 
 }